<div class="col">
  <a href="{% if item.redirect %}{{ item.redirect }}{% else %}{{ item.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      {% if item.img %}
        {% include figure.liquid
           loading='eager'
           path=item.img
           sizes='250px'
           alt='item thumbnail'
           class='card-img-top' %}
      {% else %}
        {%- comment -%}
          如果 front-matter 没写 img，则自动推断文件夹名
          e.g. _items/23spring.md → assets/img/23spring/cover.jpg
        {%- endcomment -%}
        {% assign fname = item.path | split: '/' | last | split: '.' | first %}
        {% assign cover = 'assets/img/life/' | append: item.category | append: '/' | append: fname | append: '/cover.jpg' %}
        {% include figure.liquid
           loading='eager'
           path=cover
           sizes='250px'
           alt='item thumbnail'
           class='card-img-top' %}
      {% endif %}
      <div class="card-body">
        <h3 class="card-title">{{ item.title }}</h3>
        <p class="card-text">{{ item.description }}</p>
        <div class="row ml-1 mr-1 p-0">
          {% if item.github %}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ item.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
              </div>
              {% if item.github_stars %}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fa-solid fa-star"></i>
                  <span id="{{ item.github_stars }}-stars"></span>
                </span>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>

<style>
.card-img-top {
  aspect-ratio: 3 / 2;   /* 固定为 2:3 */
  object-fit: cover;     /* 超出部分裁剪 */
  width: 100%;
  height: auto;          /* 保持比例 */
}
</style>

